<h4><%= File.expand_path(__FILE__) %></h4>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <legend>Show report</legend>
    </div>
  </div>

  <p><label class="col-md-4">Name:</label> <%= @report.name %></p>
  <p><label class="col-md-4">Code:</label> <%= @report.code %></p>
  <p><label class="col-md-4">Portfolio:</label> <%= @report.portfolio.name %></p>


  <br>
  <%= link_to 'Edit', edit_report_path(@report) ,  :class => "btn btn-info", :role => "button" %>
  <%= link_to 'Back' , reports_path,  :class => "btn btn-info", :role => "button" %>

</div>


