<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @report.code %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @report.portfolio.name %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
